services:
  backend:
    build: ./backend
    image: dreamingj98/springtest-backend:latest
    container_name: backend
    ports:
      - "8080:8080"
    networks:
      - app-network

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    image: dreamingj98/springtest-nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
