services:
  frontend:
    build: ./my-pwa-app
    image: dreamingj98/springtest-frontend:latest
    container_name: frontend
    networks:
      - app-network

  backend:
    build: ./backend
    image: dreamingj98/springtest-backend:latest
    container_name: backend
    ports:
      - "8080:8080"
    networks:
      - app-network

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    image: dreamingj98/springtest-nginx:latest
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/nginx/ssl:/etc/nginx/ssl # SSL 인증서 경로
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro # nginx.conf 파일을 읽기 전용으로 마운트
    depends_on:
      - backend
      - frontend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
